version: 2.1

commands:
  destroy-cluster:
    description: Destroy EKS Cluster.
    steps:
      - run:
          name: Destroy environments
          when: on_fail
          command: |
            aws cloudformation delete-stack --stack-name eksctl-capstone-cluster-nodegroup-nodegroup --region eu-west-2
            aws cloudformation delete-stack --stack-name eksctl-capstone-cluster-cluster --region eu-west-2
            

parameters:
  circleci_image:
    type: string
    default: circleci/node:13.8.0
  amazon_image:
    type: string
    default: amazon/aws-cli
  stretch_image:
    type: string
    default: python:3.7.3-stretch

jobs:
  lint-application:
    docker:
      - image: << pipeline.parameters.stretch_image >>
   
    steps:
      - checkout
      # Download and cache dependencies
      - run:
          name: install dependencies
          command: |
            make setup
            . venv/bin/activate
            make install
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64
            chmod +x /bin/hadolint
    
      # run lints!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

  build-docker-image:
    machine: true
     
    steps:
      - checkout
     
      # build and push Docker image
      - run: |
          TAG=v1
          docker build -t aalatishe86/apptrends:$TAG .
          echo $DOCKERHUB_PASSWORD | docker login -u $DOCKER_USER --password-stdin
          docker push aalatishe86/apptrends:$TAG

  deploy-cluster:
    docker: 
    - image: << pipeline.parameters.amazon_image >>
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            yum install -y ansible tar gzip openssl
            curl --silent --location -o /usr/local/bin/kubectl https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/kubectl
            chmod +x /usr/local/bin/kubectl
            mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            mv /tmp/eksctl /usr/local/bin
            curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
    
      - run:
          name: Create EKS Cluster
          command: |
            cd .circleci/
            ls -al
            rm ./kubeconfig
            eksctl create cluster -f cluster.yml
            config=$(cat /root/.kube/config)
            echo ${config} >> ./kubeconfig
            kubectl get nodes
            kubectl get pods -A -o wide

      #- run:
      #    name: Create Kubernetes Objects
      #    command: |
      #      cd kubernetes/
      #      ls -al
      #      cat /root/.kube/config
      #      kubectl apply -f .
      #      kubectl get pods,deploy,svc -o wide --show-labels

      - persist_to_workspace:
          root: ~/
          paths:
            - project/.circleci/kubeconfig
      # Here's where you will add some code to rollback on failure      
      - destroy-cluster

  deploy-app-v1:
    docker: 
    - image: << pipeline.parameters.amazon_image >>
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            yum install -y ansible tar gzip openssl
            curl --silent --location -o /usr/local/bin/kubectl https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/kubectl
            chmod +x /usr/local/bin/kubectl
            mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            mv /tmp/eksctl /usr/local/bin
            curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      
      - attach_workspace:
          at: ~/
      
      - run:
          name: Deploy Docker Application
          command: |
            aws eks --region eu-west-2 update-kubeconfig --name capstone-cluster
            cd kubernetes/
            ls -al
            kubectl get svc
            kubectl apply -f .
            kubectl get pods,deploy,svc -o wide --show-labels  
      
      # Here's where you will add some code to rollback on failure      
      - destroy-cluster

  deploy-update-v2:
    docker: 
    - image: << pipeline.parameters.amazon_image >>
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            yum install -y ansible tar gzip openssl
            curl --silent --location -o /usr/local/bin/kubectl https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/kubectl
            chmod +x /usr/local/bin/kubectl
            mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            mv /tmp/eksctl /usr/local/bin
            curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      
      - run:
          name: Deploy Docker Application v2
          command: |
            aws eks --region eu-west-2 update-kubeconfig --name capstone-cluster
            cd kubernetes/
            ls -al
            kubectl set image deployment/techtrends aalatishe86/apptrends:v2
            kubectl rollout status deployment/techtrends
            kubectl get pods,rs,deploy,svc -o wide --show-labels      

workflows:
  default:
    jobs:
      - lint-application
      - build-docker-image:
          requires: [lint-application]
      - deploy-cluster:
          requires: [build-docker-image]
          filters:
            tags:
              only: /^b.*/
      - deploy-app-v1:
          requires: [deploy-cluster]
          filters:
            tags:
              only: /^b.*/
      - deploy-update-v2:
          requires: [build-docker-image]
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      #- smoke-test:
      #    requires: [deploy-application]
      #- cloudfront-update:
      #    requires: [smoke-test]
      #- cleanup:
      #    requires: [cloudfront-update]
