apiVersion: apps/v1
kind: Deployment
metadata:
  name: techtrends
  labels:
    app: techtrends
spec:
  replicas: 3
  selector:
    matchLabels:
      app: techtrends
  template:
    metadata:
      labels:
        app: techtrends
    spec:
      containers:
      - name: techtrends
        image: aalatishe86/apptrends:latest
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3111
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3111
          initialDelaySeconds: 3
          periodSeconds: 3
        ports:
        - containerPort: 3111
---
apiVersion: v1
kind: Service
metadata:
  name: techtrends
spec:
  type: NodePort 
  selector:
    app: techtrends
  ports:
    - protocol: TCP
      port: 4111
      targetPort: 3111
      nodePort: 30007